# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env
.env.*

!.env.example

# Flask
instance/
.pytest_cache/

# Uploads
uploads/

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# =========================
# Flutter
# =========================
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.metadata

# Android
mobile/android/.gradle/
mobile/android/local.properties

# iOS
mobile/ios/Pods/
mobile/ios/.symlinks/